@import "tailwindcss";

@theme {
  --font-archivo: "Archivo Narrow", sans-serif;
  --font-play: "Play", sans-serif;
}

html {
  word-wrap: break-word;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  word-wrap: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
